Time: <input ngMask="00:00:00" type="text" placeholder="00:00:00"><br/><br/>
Date Time: <input ngMask="00/00/0000 00:00:00" type="text" placeholder="00/00/0000 00:00:00"><br/><br/>
Date: <input ngMask="00/00/0000" type="text" placeholder="00/00/0000"><br/><br/>
Postal Code: <input ngMask="000000" type="text" placeholder="000000"><br/><br/>
Pan card No:
<input ngMask="AAAAA0000A" type="text" placeholder="XXXXX0000X"><br/><br/>
IP Address: <input ngMask="00.00.00.00" type="text" placeholder="00.00.00.00"><br/><br/>
Credit Card: <input ngMask="0000-0000-0000-0000" type="text" placeholder="0000-0000-0000-0000"><br/><br/>
CCV: <input ngMask="000" type="text" placeholder="000"><br/><br/>
Mobile No: <input ngMask="00-00-00000000" type="text" placeholder="00-00-00000000"><br/><br/>